[submodule "addons/nerdtree"]
	path = addons/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "addons/nerdcommenter"]
	path = addons/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "addons/neocomplcache"]
	path = addons/neocomplcache
	url = http://github.com/Shougo/neocomplcache.git
[submodule "addons/surround"]
	path = addons/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "addons/xmledit"]
	path = addons/xmledit
	url = http://github.com/sukima/xmledit.git
[submodule "addons/zencoding"]
	path = addons/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "addons/vim-fugitive"]
	path = addons/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "addons/pythoncomplete"]
	path = addons/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "addons/markdown"]
	path = addons/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "addons/ack.vim"]
	path = addons/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "addons/vim-indent-guides"]
	path = addons/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "addons/pydoc.vim"]
	path = addons/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "addons/pyflakes"]
	path = addons/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "addons/vim-addon-mw-utils"]
	path = addons/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "addons/tlib_vim"]
	path = addons/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "addons/vim-session"]
	path = addons/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "addons/unite.vim"]
	path = addons/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "addons/unite-outline"]
	path = addons/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "addons/tagbar"]
	path = addons/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "addons/css3-syntax"]
	path = addons/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "addons/NrrwRgn"]
	path = addons/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "addons/ColorV"]
	path = addons/ColorV
	url = https://github.com/Rykka/colorv.vim.git
[submodule "addons/neco-look"]
	path = addons/neco-look
	url = https://github.com/ujihisa/neco-look.git
[submodule "addons/html5.vim"]
	path = addons/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "addons/vim-less"]
	path = addons/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "addons/gist-vim"]
	path = addons/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "addons/vim-powerline"]
	path = addons/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "addons/command-t"]
	path = addons/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "addons/vim-gummybears-colorscheme"]
	path = addons/vim-gummybears-colorscheme
	url = https://github.com/jelera/vim-gummybears-colorscheme.git
[submodule "addons/Vim-Tomorrow-Theme"]
	path = addons/Vim-Tomorrow-Theme
	url = https://github.com/chriskempson/Vim-Tomorrow-Theme.git
[submodule "addons/vim-easymotion"]
	path = addons/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "addons/ctrlp.vim"]
	path = addons/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "addons/ultisnips"]
	path = addons/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "addons/Hemisu"]
	path = addons/Hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "addons/vim-colors-solarized"]
	path = addons/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "addons/cocoa.vim"]
	path = addons/cocoa.vim
	url = https://github.com/fomichev/cocoa.vim.git
[submodule "addons/vim-autoclose"]
	path = addons/vim-autoclose
	url = https://harryxu@github.com/harryxu/vim-autoclose.git
