[submodule "addons/nerdtree"]
	path = addons/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "addons/nerdcommenter"]
	path = addons/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "addons/surround"]
	path = addons/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "addons/xmledit"]
	path = addons/xmledit
	url = http://github.com/sukima/xmledit.git
[submodule "addons/vim-fugitive"]
	path = addons/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "addons/markdown"]
	path = addons/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "addons/ack.vim"]
	path = addons/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "addons/pydoc.vim"]
	path = addons/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "addons/vim-session"]
	path = addons/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "addons/unite.vim"]
	path = addons/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "addons/tagbar"]
	path = addons/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "addons/css3-syntax"]
	path = addons/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "addons/NrrwRgn"]
	path = addons/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "addons/ColorV"]
	path = addons/ColorV
	url = https://github.com/Rykka/colorv.vim.git
[submodule "addons/neco-look"]
	path = addons/neco-look
	url = https://github.com/ujihisa/neco-look.git
[submodule "addons/html5.vim"]
	path = addons/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "addons/vim-less"]
	path = addons/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "addons/gist-vim"]
	path = addons/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "addons/vim-gummybears-colorscheme"]
	path = addons/vim-gummybears-colorscheme
	url = https://github.com/jelera/vim-gummybears-colorscheme.git
[submodule "addons/Vim-Tomorrow-Theme"]
	path = addons/Vim-Tomorrow-Theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "addons/vim-easymotion"]
	path = addons/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "addons/ctrlp.vim"]
	path = addons/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "addons/ultisnips"]
	path = addons/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "addons/Hemisu"]
	path = addons/Hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "addons/vim-colors-solarized"]
	path = addons/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "addons/cocoa.vim"]
	path = addons/cocoa.vim
	url = https://github.com/fomichev/cocoa.vim.git
[submodule "addons/mac-classic-theme"]
	path = addons/mac-classic-theme
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "addons/matchit"]
	path = addons/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "addons/vim-javascript"]
	path = addons/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "addons/syntastic"]
	path = addons/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "addons/webapi"]
	path = addons/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "addons/molokai"]
	path = addons/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "addons/kolor"]
	path = addons/kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "addons/MatchTag"]
	path = addons/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "addons/php.vim"]
	path = addons/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "addons/tagbar-phpctags"]
	path = addons/tagbar-phpctags
	url = https://github.com/techlivezheng/tagbar-phpctags.git
[submodule "addons/vim-multiple-cursors"]
	path = addons/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "addons/jedi"]
	path = addons/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "addons/emmet-vim"]
	path = addons/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "addons/vim-airline"]
	path = addons/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "addons/tcomment"]
	path = addons/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "addons/gitgutter"]
	path = addons/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "addons/neocomplete"]
	path = addons/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
