[submodule "addons/nerdtree"]
	path = addons/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "addons/nerdcommenter"]
	path = addons/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "addons/neocomplcache"]
	path = addons/neocomplcache
	url = http://github.com/Shougo/neocomplcache.git
[submodule "addons/surround"]
	path = addons/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "addons/xmledit"]
	path = addons/xmledit
	url = http://github.com/sukima/xmledit.git
[submodule "addons/vim-addon-manager-known-repositories"]
	path = addons/vim-addon-manager-known-repositories
	url = http://github.com/MarcWeber/vim-addon-manager-known-repositories.git
[submodule "addons/zencoding"]
	path = addons/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "addons/bufexplorer"]
	path = addons/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "addons/vim-fugitive"]
	path = addons/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "addons/pythoncomplete"]
	path = addons/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "addons/markdown"]
	path = addons/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "addons/ack.vim"]
	path = addons/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "addons/command-t"]
	path = addons/command-t
	url = git://git.wincent.com/command-t.git
[submodule "addons/fuzzyfinder"]
	path = addons/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "addons/vim-indent-guides"]
	path = addons/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "addons/session.vim"]
	path = addons/session.vim
	url = https://github.com/vim-scripts/session.vim--Odding.git
[submodule "addons/pydoc.vim"]
	path = addons/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "addons/tabular"]
	path = addons/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "addons/pyflakes"]
	path = addons/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "addons/snipmate"]
	path = addons/snipmate
	url = git@github.com:harryxu/snipmate.vim.git
[submodule "addons/vim-addon-mw-utils"]
	path = addons/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "addons/tlib_vim"]
	path = addons/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
